<ion-header>
    <ion-navbar color="primary"  >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="bgAuth">
        <ion-list>
            <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input [(ngModel)]="email" type="email" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Password</ion-label>
                <ion-input [(ngModel)]="password" type="password" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
        </ion-list>
        <div style="height: 6vw"></div>
        <button ion-button full round color="primary" class="tangoAnimate quick tangoCentre" (click)="login()">
            <span *ngIf="!showSpinner" >Sign In</span>
            <ion-spinner [color]="spinnerColor" *ngIf="showSpinner">></ion-spinner>
        </button>
        <div style="height: 6vw" class="fbbtn"></div>
        <button ion-button full round color="Real" class="tangoAnimate quick tangoCentre" (click)="FBLogin()">
            <span *ngIf="!showSpinner" >Facebook</span>
            <ion-spinner [color]="spinnerColor" *ngIf="showSpinner">></ion-spinner>
        </button>
        <div style="height: 6vw"></div>
        <button ion-button full round color="gRed" class="tangoAnimate quick tangoCentre"  (click)="googleLogin()" [ngClass]="setClass()">
            <span *ngIf="!showSpinner" >gMail</span>
            <ion-spinner [color]="spinnerColor" *ngIf="showSpinner">></ion-spinner>
        </button>
        <div style="height: 6vw"></div>
        <button  class="newbtn" (click)="SignUp()">Create New Account</button>
</ion-content>