<ion-header>
    <ion-navbar color="primary"  >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>SignUp</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
            <ion-item>
                <ion-label floating>First Name</ion-label>
                <ion-input [(ngModel)]="fName" type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Last Name</ion-label>
                <ion-input [(ngModel)]="lName" type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input [(ngModel)]="email" type="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Password</ion-label>
                <ion-input [(ngModel)]="password" type="password"></ion-input>
            </ion-item>
        </ion-list>
    <button ion-button full round color="primary" class="tangoAnimate quick tangoCentre" >
            <span *ngIf="!showSpinner" >Sign In</span>
            <ion-spinner [color]="spinnerColor" *ngIf="showSpinner"></ion-spinner>
        </button>
</ion-content>
